<section id="login">
  <form id="form__login">
    <h2 class="login__title">Login</h2>

    <div class="form__group">
      <label for="email">Email</label>
      <input type="text" id="input__email--login">
    </div>
    <div class="form__group">
      <label for="password">Password</label>
      <input type="password" id="input__password--login">
    </div>

    <button type="submit" class="button__login">Log in</button>
    <a href="#/register" class="register__link">No tienes cuenta?, registrate</a>
  </form>
</section>