<section id="register">
  <form id="form__register">
    <h2 class="register__title">Register</h2>

    <div class="form__group">
      <label for="fullName">Full Name</label>
      <input type="text" id="input__name--register">
    </div>
    <div class="form__group">
      <label for="email">Email</label>
      <input type="text" id="input__email--register">
    </div>
    <div class="form__group">
      <label for="password">Password</label>
      <input type="password" id="input__password--register">
    </div>
    <div class="form__group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="input__confirmPassword--register">
    </div>

    <button type="submit" class="button__register">Register</button>
    <a href="#/login" class="register__link">Ya tienes una cuenta?, Inicia sesion.</a>
  </form>
</section>